 /* color */
 .gray-500 {
   color: $gray-500;
 }

 .text-order {
   color: $orderprimary;
 }

 .text-order2 {
   color: $orderseconday;
 }

 .text-blue {
  color: #009fe3 !important;
 }
 
 /* background */
 .bg-brown {
   background-color: $cardBrown;
 }
 .bg-g100 {
  background-color: $gray-100 !important;
}
 .bg-g200 {
  background-color: $gray-200;
}
 .bg-g300 {
   background-color: $gray-300;
 }

 .bg-g400 {
   background-color: $gray-400;
 }

 /* font-weight */
 .fw-900 {
   font-weight: 900;
 }

 .fw-800 {
   font-weight: 800;
 }

 .fw-700 {
   font-weight: 700;
 }

 .fw-600 {
   font-weight: 600;
 }

 .fw-500 {
   font-weight: 500;
 }

 .fw-400 {
   font-weight: 400;
 }

 /*font-size*/
 .fs-12 {
   font-size: $font-exta-small  !important;
 }
 .fs-14 {
  font-size: $font-small !important;
}
.fs-16{
  font-size:$font-base  !important;
}
 .fs-18{
   font-size:$font-medium  !important;
 }

 .fs-24{
  font-size:$font-large  !important;
}
 /* text-color */
 .orderprimary {
   color: $orderprimary;
 }

 .text-black {
   color: $black;
 }

 .ordersecondary {
   color: $orderseconday;
 }

 /* padding */
 .p-s5 {
   padding: 5px;
 }

 .p-10 {
   padding: 10px;
 }

 .p-15 {
   padding: 15px;
 }

 /* right */
 .pr-s5 {
   padding-right: 5px;
 }

 .pr-10 {
   padding-right: 10px;
 }

 .pr-15 {
   padding-right: 15px;
 }

 .pr-20 {
   padding-right: 20px;
 }

 .pr-30 {
   padding-right: 20px;
 }

 /* bottom */
 .pb-s5 {
   padding-bottom: 5px;
 }

 .pb-10 {
   padding-bottom: 10px;
 }

 .pb-15 {
   padding-bottom: 15px;
 }

 .pb-20 {
   padding-bottom: 20px;
 }

 .pb-25 {
   padding-bottom: 25px;
 }

 .pb-30 {
   padding-bottom: 30px;
 }

 /* top */
 .pt-s5 {
   padding-top: 5px;
 }

 .pt-10 {
   padding-top: 10px;
 }

 .pt-15 {
   padding-top: 15px;
 }

 .pt-20 {
   padding-top: 20px;
 }

 .pt-25 {
   padding-top: 25px;
 }

 .pt-30 {
   padding-top: 30px;
 }

 /* left */
 .pl-10 {
   padding-left: 10px;
 }

 .pl-15 {
   padding-left: 15px;
 }

 .pl-20 {
   padding-left: 20px;
 }

 .pl-30 {
   padding-left: 30px;
 }
 

 /* margin */

 /* top */

 .mt-75 {
   margin-top: 75px;
 }
