$white:    #fff !default;
$gray-100: #FAFAFA !default;
$gray-200: #E5E5E5 !default;
$gray-300: #DAE0E3 !default;
$gray-400: #cdd1d3 !default;
$gray-500: #858585 !default;
$gray-600: #666666 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

/*--------main-colors--------*/

$primary:    #e94e1b !default;
$secondary:  #009fe3 !default;
$success:    #68BC4A !default;
$info:       #00205C !default;
$warning:    #F4A700 !default;
$danger:     #E40134  !default;
$light:      #FFffff  !default;
$dark:       #212121  !default;

/*----test-colors-----*/
$orderprimary: #005168 !default;
$orderseconday:#8F8F8F !default;
/*----card-color-------*/
$cardBrown: #701413 !default; 

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);


$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 640px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

/* ---- Links-----*/
$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        $gray-900 !default;
$link-hover-decoration:                   underline !default;

/*------Paragraphs------*/

$paragraph-margin-bottom:   0px !default;


/*-----Components-----*/

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                   0px 3px 6px #dad8d8 !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

/* ---------font-familys--------*/
$font-style-heading:'Calibre';
$font-style-base:'Calibre'; 

/*------font-size------*/
$font-xx-small:10px;
$font-exta-small:12px;
$font-small:14px;
$font-base:16px;
$font-medium:18px;
$font-large:24px;
$font-medium-large:28px;
$font-extra-large:32px;
$font-xx-large:40px;
/*------- Buttons  ---------*/

$btn-padding-y:               4px !default;
$btn-padding-x:               25px !default;
$btn-font-size:               18px !default;
$btn-line-height:             normal !default;

$btn-border-width:            0 !default;

$btn-font-weight:             400 !default;
$btn-box-shadow:              null !default;
$btn-focus-width:             0 !default;
$btn-focus-box-shadow:        null !default;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         20px !default;

/*---------input ------*/
$input-btn-focus-box-shadow:   none !default;

/*---------- Cards  -------------*/
$card-spacer-y:                     16px !default;
$card-spacer-x:                     16px !default;
// $card-border-width:                 0 !default; 
$card-border-radius:                0px !default;
$card-border-color:                #E0E0E0 !default;
$card-cap-bg:                       $white !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-box-shadow:                   $box-shadow !default;
$card-header-bg:                    #f8f8f8 !default;

/*-----List group------*/

$list-group-color:                  null !default;
$list-group-bg:                     $white !default;
$list-group-border-color:           null !default;
$list-group-border-width:          1px !default;
$list-group-border-radius:          0 !default;

$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         1.25rem !default;

$list-group-hover-bg:               $gray-100 !default;
$list-group-active-color:           $primary !default;
$list-group-active-bg:              $primary !default;
$list-group-active-border-color:    null !default;

$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $gray-700 !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $gray-200 !default;





