.contact-us {
  background:rgba(22, 22, 22, 0.07) url("~@/assets/images/loginbanners/loginbanner2.jpg") no-repeat right center;
  height: 150px;
  background-size: cover;
  background-position: 100%;
}
