.btn{
border-radius:0;
font-size:$font-medium;
padding:7px 25px 3px;
border-radius:2px;
}

.btn-lg{
    height:40px;
}
/*  ----button dissable---- */

.btn.disabled, .btn:disabled{
    background-color:$gray-400;
    opacity:1;
}
