/* advance Filter*/
.advance-filter {
  .form-group {
    label {
      font-size: $font-exta-small;
      text-transform: uppercase;
      color: $orderprimary;
      margin-bottom: 0;
      position: absolute;
    }
  .v-select {
    .vs__search, .vs__search:focus,.vs__selected{
      padding:0;
    }
    .vs__dropdown-toggle {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $gray-400;
      font-size: $font-base;
      color: $black;
      margin-top: 12px;
      padding:0;
    }
    ul{
      font-size:16px;
      padding:0;
      li{
        padding: 10px 15px 5px 15px;
      }
    }
    .vs__actions{
      button{
        display: none;
      }
    }
  }
}
  .form-group {
    label {
      font-size: $font-exta-small;
      text-transform: uppercase;
      color: $orderprimary;
      margin-bottom: 0;
      position: absolute;
    }

    .bv-no-focus-ring {
      flex-direction: column;
    }

    .custom-select {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $gray-400;
      padding: 0;
      font-size: $font-base;
      color: $black;
      align-items: flex-end;
      background-position: center right;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .textarea {
    .form-control {
      font-size: $font-small;
    }
  }
}

/*------custom-select--------*/
.custom-select {
  background: $light url("~@/assets/images/icons/dropdownarrow.svg") no-repeat right center;
  background-position: 92%;

  &:focus {
    box-shadow: none;
  }

  &.is-valid,
  &.is-invalid {
    background: $light url("~@/assets/images/icons/dropdownarrow.svg") no-repeat right center;
    background-position: 92%;
  }
}

/*--------quality-select-------*/
.quantity-select {
  .v-select {
    width: 56px;
    margin-left:10px;
    background: $light url("~@/assets/images/icons/dropdownarrow.svg") no-repeat right center;
    background-position: 90%;
    border-radius: 5px;
    .vs__selected{
      margin-top: 5px;
      margin-left: 3px;
    }
    ul{
      min-width:auto;
    }
    
  }
}

/*-------filter-search-------*/
.filter-order {
  p {
    position: relative;
    cursor: pointer;
  }
}

.filter-search {
  width: 100%;
  background-color: $light;
  padding: 20px 25px;
  margin-bottom: 25px;

  @media (max-width: 575px) {
    padding: 0;
  }

  .filter-datepicker{
    border-bottom:1px solid $gray-200;
  }
  .form-group,
  .filter-datepicker {
    background-color: $gray-100;
    padding: 8px 5px 0px 5px;
    margin-bottom: 15px;

    @media (max-width: 575px) {
      margin: 0;
      padding-top:15px;
    }

    .custom-select {
      background-position: 95% 20px;
      background-color: $gray-100;
    }

    /* filter datepiker custom*/
    .date-label {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 0;
    }

    .b-form-btn-label-control {
      height: 20px !important;
      background: transparent;
      border: none;
    }

    .b-form-btn-label-control>label {
      font-size: 16px;
      padding: 0;
    }

    .b-form-btn-label-control>.btn {
      line-height: inherit;
      font-size: 12px;
      padding: 0px 5px;
    }
  }
}

/* custome radio */
.custom-control {
  .custom-control-label {
    padding-top: 8px;
    padding-left: 12px;
    margin-bottom: 12px;
  }
}

/* assign buying lead */
.assign-lead {
  background: $gray-100;
  &.v-select .vs__dropdown-toggle {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 35px;
    border-color:$gray-100;
  }
}

/*get-in-touch*/

.get-in-touch {
  .form-control {
    background-color: $gray-100;
    border: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid $gray-300;
  }
}
