.modal-dialog-centered.modal-dialog-scrollable .modal-content{
    border-radius:0px;
}

@media (min-width: 576px){
    .modal-dialog {
      max-width: 930px;
      margin: 1.75rem auto;
  }
  }
    .modal-content{
        border-radius:0px;
        /* width */
::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
    }