// Styles
.status-order {
    position: relative;
    margin-left: 10px;
}
.status-order .status{
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: -10px;
    margin-top: 5px;
}