.update-list {
  .update-test {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 576px) {
      display: block;
    }

    a {
      font-size: 14px;
    }
  }
}

.no-updates {
  height: 300px;
}
